<%= error_messages_for :finder %>

<div class="box">
  <p><%= finder_form.text_field :name, :required => true, :label => :hide_issue_fields_name %></p>
  <p><%= finder_form.text_field :finder, :required => true, :label => :hide_issue_fields_finder %></p>
</div>
